@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #333;
  --color-whitesmoke: #f5f5f5;
  --color-gray: #212121;
  --color-black: #000;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-13xl: 32px;
  --padding-base: 16px;
}
